html {
    background-color: antiquewhite;
}
body {
    padding: 10px 30px;
    width: 902px;
    margin: 50px auto;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 #757575;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
p {
    margin: 10px 0;
}
form {
    display: flex;
}
form label {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
form input {
    flex: 1;
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 10px;
}
form button {
    padding: 5px 20px;
    font-size: 16px;
}
#actual {
    word-break: break-all;
}
.box {
    border: 1px solid darkcyan;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 20px 0;
}
.const {
    position: relative;
}
.const::before {
    content: "parameter(64bit)";
    position: absolute;
    right: 20px;
    color: brown;
}
.result {
    position: relative;
}
.result::before {
    content: "result";
    position: absolute;
    right: 20px;
    color: brown;
}
.diagram {
    display: flex;
    flex-wrap: wrap;
}
.diagram .cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #757575;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.diagram > .cell:nth-child(1) {
    background-color: brown;
    color: white;
}
.diagram > .cell:nth-child(n+2):nth-child(-n+12) {
    background-color: darkcyan;
    color: white;
}
.diagram > .cell:nth-child(1)::before {
    content: "63";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(16)::before {
    content: "48";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(17)::before {
    content: "47";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(32)::before {
    content: "32";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(33)::before {
    content: "31";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(48)::before {
    content: "16";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(49)::before {
    content: "15";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}
.diagram > .cell:nth-child(64)::before {
    content: "0";
    position: absolute;
    top: -25px;
    color: blue;
    font-size: 14px;
}

.diagram > .cell:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(9)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(17)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(25)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(33)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(41)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(49)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}
.diagram > .cell:nth-child(57)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: -4px;
    width: 198px;
    height: 135%;
    background-color: transparent;
    border: 1px dashed brown;
}

.formula {
    color: blue;
    font-weight: bold;
}
