html {
    background-color: antiquewhite;
}

body {
    padding: 10px 30px;
    width: 902px;
    margin: 50px auto;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 #757575;
    box-sizing: border-box;
}

p {
    margin: 10px 0;
}

.fork {
    position: fixed;
    right: 0;
    top: 0;
}
